vim/temp_dirs/undodir*
vim/sources_non_forked/ack.vim/.netrwhist
vim/temp_dirs/yankring_history_v2.txt
vim/sources_forked/yankring/doc/tags
vim/sources_non_forked/tlib/doc/tags
vim/my_configs.vim
vim/tags
.DS_Store
