[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
[ai "cadence"]
	org-id = 37c12ba9-450d-4a56-91a1-a6b5a05da00f
	org = mblode
[protocol]
	version = 2
[core]
	untrackedCache = true
	fsmonitor = false
	preloadIndex = true
[fetch]
	writeCommitGraph = true
	prune = true
[init]
	defaultBranch = main
[pack]
	threads = 0
[maintenance]
	repo = {{ .chezmoi.homeDir }}/Library/Mobile Documents/iCloud~md~obsidian/Documents/second-brain
	repo = {{ .chezmoi.homeDir }}/data-lake
[safe]
	directory = /tmp/hermes-code-test/mblode/second-brain-agent
