[user]
	email = m.blode@gmail.com
  name = Matthew Blode
[github]
  user = mblode
[push]
	default = simple
[color]
  ui = true
[core]
  editor = atom
  excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[format]
  pretty = %Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
  graph = true
[advice]
  statusHints = false
[log]
  abbrevCommit = true
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "gh:"
  pushInsteadOf = "git://github.com/"
[url "git@gist.github.com:"]
  insteadOf = "gist:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[pull]
	rebase = true
