"*":
  "atom-beautify":
    _analyticsUserId: "905eb389-530c-424f-a3f3-3e408e8a72a4"
  "atom-material-ui":
    compactTreeView: true
    panelContrast: true
  core:
    disabledPackages: [
      "background-tips"
      "exception-reporting"
      "metrics"
    ]
    followSymlinks: false
    hideGitIgnoredFiles: true
    ignoredNames: [
      ".bundle"
      ".git"
      ".DS_Store"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    themes: [
      "one-dark-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Operator Mono"
    fontSize: 15
    invisibles: {}
    softWrap: true
  "exception-reporting":
    userId: "4938eea6-0378-8f38-db04-5b1e972528f7"
  jshint: {}
  "linter-scss-lint":
    executablePath: "/Users/mblode/.rbenv/shims/scss-lint"
  pigments: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
